.cardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 30px;
    padding: 0 8px;
}
.cardHeader p{
    margin: 0;
}
.card{
    /* display: flex; */
    /* height: 180px; */
    box-sizing: border-box;
    overflow-y: auto;
    border:1px solid #aaa;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 15px;

}
/* .card img{
    height: 180px;

} */